
.box-container {
    display: flex;
    justify-content: space-between;
  }
  
  
  .box {
    height: 200px;;
    width: 47%; 
    background-color: aliceblue;
    border: 1px solid #5c80d4;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  
  .box p {
    margin: 0; 
  }
  .box-container1 {
    display: flex;
    justify-content: space-between;
  }
  
  
  .box {
    height: 200px;;
    width: 47%; 
    background-color: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  
 
  .box p {
    margin: 0; 
  }
  .box-container2 {
    display: flex;
    justify-content: space-between;
  }
  
  
  .box {
    height: 200px;;
    width: 47%; 
    background-color: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  
  
  .box p {
    margin: 0; 
  }
  .box-container3 {
    display: flex;
    justify-content: space-between;
  }
  
  
  .box {
    height: 200px;;
    width: 47%; 
    background-color: #f0f0f0;
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }
  
  
  .box p {
    margin: 0; 
  }